.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--dark-color);
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .popup__input {
    padding-bottom: 10px;
    margin-bottom: 28px;
  }
}
