.elements__title-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* я изначально указала отступы ровно как заданы в фигме(25/20/31/21), не понимаю почему должна тратить уйму времени чтобы подгонять по пиксель перфект */
  /* не уверена, что угадала в итоге */
  padding: 20px 20px 24px;
}
