.profile__about {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: var(--light-color);
}

@media screen and (max-width: 900px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 600px) {
  .profile__about {
    text-align: center;
  }
}
