.profile__about {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: var(--light-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 350px;
}

@media screen and (max-width: 900px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 800px) {
  .profile__about {
    max-width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .profile__about {
    max-width: 220px;
  }
}

@media screen and (max-width: 600px) {
  .profile__about {
    max-width: calc(100vw - 66px);
    text-align: center;
  }
}
