.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--medium-color);
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
