.elements {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  gap: 20px 17px;
  margin: 50px auto 0;
}

@media screen and (max-width: 1130px) {
  .elements {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    width: calc(100% - 38px);
    margin-top: 36px;
  }
}
