.popup__container_for_delete-card {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 30px;
  width: 430px;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 468px) {
  .popup__container_for_delete-card {
    width: calc(100% - 38px);
    padding: 25px 22px;
  }
}
