.footer {
  width: 100%;
  margin: 66px auto 0;
}

@media screen and (max-width: 1130px) {
  .footer {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: calc(100% - 38px);
    margin-top: 48px;
  }
}
