.logo {
  width: 142px;
  height: 33px;
  transition: all 0.3s;
}

.header__link:hover .logo {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 104px;
    height: 24px;
  }
}
