.root {
  font-family: "Inter", sans-serif;
  max-width: 880px;
  width: 78%;
  background-color: var(--dark-color);
  box-sizing: border-box;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1130px) {
  .root {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .root {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
