.profile__edit-btn {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid var(--light-color);
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--dark-color);
  cursor: pointer;
  transition: all 0.3s;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
