.popup__close-btn {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-icon.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 600px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
