.elements__like {
  min-width: 22px;
  height: 19px;
  padding: 0;
  line-height: 0;
  border: none;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.elements__like:hover {
  opacity: 0.5;
}
