.header {
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}

@media screen and (max-width: 1130px) {
  .header {
    padding-left: 27px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    min-height: 56px;
  }
}
